// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

#input {
  border-radius: 10px;
}

#blue-btn {
  background-color: blue;
  color: white;
  padding: 5px, 10px;
  border-radius: 10px;
}

